aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiosignal==1.4.0
annotated-types==0.7.0
asgiref==3.11.0
astroid==3.3.11
attrs==25.3.0
aws_lambda_powertools==3.17.0
black==25.1.0
boto3==1.39.9
botocore==1.39.9
cachetools==5.5.2
certifi==2025.7.14
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
dill==0.4.0
distlib==0.4.0
Django==6.0
django-filter==25.2
django-stubs==4.2.7
django-stubs-ext==5.2.8
djangorestframework==3.16.1
djangorestframework-stubs==1.10.0
dnspython==2.7.0
filelock==3.19.1
frozenlist==1.7.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.177.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
grpcio==1.74.0
grpcio-status==1.71.2
httplib2==0.22.0
identify==2.6.13
idna==3.10
isort==6.0.1
jmespath==1.0.1
lxml==6.0.0
Markdown==3.10
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
multidict==6.6.4
mypy==1.17.1
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pre_commit==4.3.0
propcache==0.3.2
proto-plus==1.26.1
protobuf==5.29.5
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pylint==3.3.8
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
pymongo==4.13.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.2.0
PyYAML==6.0.2
requests==2.32.4
rich==14.1.0
rsa==4.9.1
ruff==0.12.9
s3transfer==0.13.1
six==1.17.0
sqlparse==0.5.4
structlog==23.2.0
tomlkit==0.13.3
tqdm==4.67.1
types-pytz==2025.2.0.20251108
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
types-setuptools==80.9.0.20250822
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
virtualenv==20.34.0
wrapt==1.17.3
yarl==1.20.1
